langchain_core
python-dotenv
streamlit
langchain_community
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
langchain_openai
chromadb
faiss-cpu
arxiv
wikipedia
langchainhub
groq
langchain_groq
sentence-transformers
langchain-objectbox
langchain-huggingface
transformers
youtube_search
yt-dlp 
SpeechRecognition
openai 
torch
langchain
langchain_chroma
huggingface_hub[hf_xet]